body {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Background images for each page */
.inde {
    background-image: url("../images/crossroads.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.north {
    background-image: url('../images/small-town.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
}

body.bar {
    background-image: url('../images/bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.bartender {
    background-image: url('../images/bartender.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.west {
    background-image: url('../images/three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.south {
    background-image: url('../images/lake.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.east {
    background-image: url('../images/forest.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.start {
    background-image: url('../images/start.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
div
{background-color: #686767e0;
width: 700px;
margin:auto}